
.item{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 30px;
}
.item1{
    background-color: rgb(8, 8, 136);
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}
.item2{
    background-color: rgb(12, 215, 73);
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 5;
}
.item3{
    background-color: rgb(4, 166, 175);
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 5;
}
.item4{
    background-color: rgb(203, 224, 65);
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 3;
}
.item5{
    background-color: rgb(230, 24, 168);
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 5;
}
.item6{
    background-color: rgb(232, 228, 2);
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 4;
    grid-column-end: 5;
}
.item7{
    background-color: aquamarine;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 5;
}


.grid-items-box{
    display: grid;
    grid-template-rows: repeat (7, 1fr);
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
}

@media screen and (max-width: 1200px){
    .grid-items-box{
        grid-template-rows: repeat(10, 1fr);
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .item1{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 5;
    }
    .item2{
        grid-row-start: 5;
        grid-row-end: 11;
        grid-column-start: 1;
        grid-column-end: 1;
    }
    .item3{
        grid-row-start: 2;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 5;
    }
    .item4{
        grid-row-start: 5;
        grid-row-end: 7;
        grid-column-start: 2;
        grid-column-end: 5;
    }
    .item5{
        grid-row-start: 7;
        grid-row-end: 9;
        grid-column-start: 2;
        grid-column-end: 5;
    }
    .item6{
        grid-row-start: 9;
        grid-row-end: 11;
        grid-column-start: 2;
        grid-column-end: 4;
    }
    .item7{
        grid-row-start: 9;
        grid-row-end: 11;
        grid-column-start: 4;
        grid-column-end: 5;
    }
}

@media screen and (max-width: 800px){
    .grid-items-box{
        grid-template-rows: repeat(15, 1fr);
        grid-template-columns: 1fr;
    }
    .item1{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .item2{
        grid-row-start: 2;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .item3{
        grid-row-start: 4;
        grid-row-end: 8;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .item4{
        grid-row-start: 8;
        grid-row-end: 10;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .item5{
        grid-row-start: 10;
        grid-row-end: 12;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .item6{
        grid-row-start: 12;
        grid-row-end: 14;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .item7{
        grid-row-start: 14;
        grid-row-end: 16;
        grid-column-start: 1;
        grid-column-end: 2;
    }
}