@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.body{
    font-family: "Inter";
}

/*header*/

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 10px;
}
.header__navigation{
    background-color: black;
}

.header__wrapper{
    column-gap: 225px;
    color: white;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav-list{
    display: flex;
    gap: 30px;
}

.header__info{
    background-color: #CBCBCB;
}
.head-info{
    flex-direction: column;
    align-items: center;
    padding-top: 71px;
}
.header__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 25px;
}
.link_colour, .header__phone-number{
    color: #717171;
    font-size: 23px;
}
.header__text{
    font-size: 64px;
    color: #490E84;
    font-weight: bold;
    margin-bottom: 40px;
}
.header__btn{
    background-color: #490E84;
    font-weight: bold;
    font-size: 24px;
    color: white;
    padding: 22px 117px;
    border-radius: 30px;
}
/*main*/

/* main menu part*/

.main__menu-title{
    text-align: center;
    color: #717171;
    font-size: 32px;
    font-weight: bold;
    margin-top: 70px;
    margin-bottom: 50px;
}

.main__iphone-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
}
.main__iphone-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
.silver-phone, .purple-name, .gold-name, .black-name{
    font-weight: bold;
    font-size: 20px;
}
/* main order part*/

.main__order-menu{
    display: flex;
    align-items: center;
    background-color: #574B63;
    margin-top: 134px;
}
.main__order-form{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    
}
.main__input-check{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.main__order-pic{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.main__order-question{
    font-size: 32px;
    color: white;
    margin-bottom: 72px;
    font-weight: bold;
    margin-bottom: 72px;
}
.main__input-form{
    background-color:#574B63;
    padding-right: 200px;
    padding-bottom: 10px;
    border-bottom: 1px #F5F5F5 solid;
    margin-bottom: 10px;
    color: white;
}
.main__order-btn{
    background-color: white;
    color: #490E84;
    padding: 16px 81px;
    border-radius: 30px;
    font-weight: bold;
}
.main__order-feedback{
    font-size: 14px;
    color: white;
    opacity: 0.5;
    margin-bottom: 30px;
    margin-top: 30px;
}

/*footer*/
.footer{
    background-color: black;
    color: white;
}
.footer__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

.footer_link, .footer__contact{
    color: #717171;
    font-size: 24px;
}

/* adaptyw */

@media screen and (max-width: 1080px){
    .header__wrapper{
        flex-direction: column;
        row-gap: 30px;
        justify-content: center;
    }
    .main__order-menu{
        flex-direction: column;
    }
    .main__order-form{
        align-self: stretch;
        padding: 100px 0px;
    }

   .footer__wrapper{
        flex-direction: column;
        row-gap: 30px;
   }
}

@media screen and (max-width: 570px){
    .header__text{
        font-size: 50px;
    }
    .link_colour {
        font-size: 30px;
        font-weight: bold;
        
    }
    .header__phone-number{
        display: none;
    }
}
@media screen and (max-width: 440px){
    .main__order-question{
    padding: 0px 35px;
    }
    .main__order-feedback{
        padding: 0px 35px;
    }
    .main__input-form{
        padding-right: 90px;
    }
}