.body{
    background-color: #FFFCB0;
}
.div{
    background-color: white;
    display: inline-block;
    border: 3px solid black;
    text-align: center;
    max-width: 1000px;
    width: 240px;
    padding: 40px;
    line-height: 23px;
}
.container{
    background-color: #B0C6FF;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.model{
    font-weight: 700px;
    font-size: 48px;
    text-align: center;
    background-color: #B0C6FF;
    padding-top: 25px;
}
.img{
   
    display: block;
}
.name{
    font-weight: bold;
    font-size: 12px;
   
}
.description{
    font-style: left;
    font-weight: regular;
    font-size: 12px;
    line-height: 14px;
    
}

.button{
    color: white;
    background-color: #6177EB;
    width: 160px;
    height: 40px;
    margin-top: 20px;
}

.about {
    font-weight: bold;
    color: white;
    text-align: center;
}

.first, .second, .third, .fourth, .fifth, .sixth, .seventh, .eighth{
    margin: 30px 20px;
}